<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    </head>
<body>
    <header>
        <h1>Panel de Control</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio (Posts/Tareas)</a></li>
                <li><a href="{% url 'article_list' %}">Blog de Artículos</a></li>
                <li><a href="/admin/">Administración</a></li>
            </ul>
        </nav>
    </header>

    <hr> <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <hr>

    <footer>
        <p>&copy; Mi proyecto 2026 - Todos los derechos reservados</p>
    </footer>
</body>
</html>