<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    </head>
<body>
    <header>
        <h1>Panel de Control</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio (Posts/Tareas)</a></li>
                <li><a href="{% url 'article_list' %}">Blog de Artículos</a></li>
                <li><a href="/admin/">Administración</a></li>
                <li><a href="{% url 'article_new' %}">+ Nuevo Artículo</a></li>
                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; color: #3182ce; cursor: pointer; font-weight: bold;">
                        Cerrar sesión ({{ user.username }})
                    </button>
                </form>
                       
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <hr> <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <hr>

    <footer>
        <p>&copy; Mi proyecto 2026 - Todos los derechos reservados</p>
    </footer>
</body>
</html>