{% extends "_base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}</h1>
        <p><strong>Por:</strong> {{ article.author }} | <strong>Publicado:</strong> {{ article.published_date|date:"d/m/Y H:i" }}</p>
        
        <hr>
        
        <div class="article-body">
            {{ article.content|linebreaks }}
        </div>
    </article>

    <br>
    <a href="{% url 'article_list' %}">← Volver a la lista de artículos</a>
{% endblock %}